/* Variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */

:root {
    --black: #171321;
    --dkblue: #0d314b;
    --plum: #4b0d49;
    --hotmag: #ff17e4;
    --magenta: #e310cb;
    --aqua: #86fbfb;
    --white: #f7f8fa;
    --font-size: 1.3rem;
    --mono: "Oxygen mono", monospace;
    --sans: Oxygen, sans-serif;
}


/* border box model: https://css-tricks.com/box-sizing/ */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


/* generic styles for the page */

body {
    padding: 0;
    margin: 0;
    font-family: var(--sans);
    background-color: var(--black);
    color: var(--white);
    font-size: var(--font-size);
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--magenta);
}

a:hover {
    color: var(--hotmag);
    text-decoration: none;
}

img {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 0.5rem;
    border: 1px solid var(--aqua);
}

th {
    background-color: var(--dkblue);
    color: var(--aqua);
}

td {
    background-color: var(--plum);
    color: var(--white);
}

tr:nth-child(even) {
    background-color: var(--black);
}

tr:nth-child(odd) {
    background-color: var(--dkblue);
}

tr {
    text-align: center;
}

.input-file-container {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.input-file-container input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
}

.input-file-container label {
    display: block;
    padding: 10px 15px;
    background-color: var(--magenta);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.input-file-container label:hover {
    background-color: var(--hotmag);
}

.preview-image {
    max-width: 100%;
}

/* Table container styles */

.table-container {
    width: 100%;
    overflow-x: auto;
}

/* modal styles */

/* Modal styling */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: var(--dkblue);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--dkblue);
    width: 50%;
    border-radius: 5px;
}

.modal-content p {
    color: var(--white);
}

.close {
    color: var(--black);
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: var(--hotmag);
}

#deleteConfirm,
#deleteCancel {
    font-family: var(--mono);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 3px;
}

#deleteConfirm {
    background-color: var(--hotmag);
    color: var(--white);
}

#deleteConfirm:hover {
    background-color: var(--magenta);
}

#deleteCancel {
    background-color: var(--dkblue);
    color: var(--white);
}

#deleteCancel:hover {
    background-color: var(--plum);
}

/* background color divs */

.section-plum {
    background-color: var(--plum);
}

.section-blue {
    background-color: var(--dkblue);
}

.gradient {
    background: linear-gradient(90deg, rgba(255, 23, 228, 1) 0%, rgba(134, 251, 251, 1) 100%);
    height: 2px;
}

/* intro styles */

#intro, #authors, #articles {
    padding: 4rem 1rem 10rem 1rem;
    padding-bottom: 10rem;
    max-width: 1200px;
    margin: 0 auto;
}

#intro p {
    font-size: 1rem;
    line-height: 1.5;
}

#intro .name {
    font-family: var(--mono);
    font-size: 1rem;
}

.name span {
    font-family: var(--sans);
    font-size: 4rem;
    color: var(--aqua);
    display: block;
    font-weight: 300;
}

#intro h2 {
    font-size: 4rem;
}


/* contact section */

#contact {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 4rem 0;
}

#contact p:last-child {
    margin-top: 3rem;
}


/* navigation */

nav {
    font-family: var(--mono);
    font-size: 80%;
    padding: 4rem 1rem;
}

nav h1 a {
    font-family: var(--sans);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav li:first-child {
    flex-basis: 100%;
    text-align: center;
}

nav [class*="fa-"] {
    font-size: 150%;
    color: var(--aqua);
}

nav h1 [class*="fa-"] {
    font-size: 100%;
    color: var(--aqua);
}

nav a {
    color: white;
    text-decoration: none;
    display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
    color: var(--magenta);
}

.button {
    background-color: var(--magenta);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-family: var(--mono);
}

.button:hover {
    color: white;
    background-color: var(--hotmag);
}

/* form */

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: .5rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--plum);
    background-color: var(--dkblue);
    color: var(--white);
    font-family: var(--mono);
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: var(--aqua);
}

.container {
    margin: 0 auto;
    padding: 4rem 1rem;
    background-color: var(--dkblue);
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.register {
    width: 100%;
    color: var(--aqua);
}

a.register-link {
    font-size: 0.8rem;
    color: var(--magenta);
    text-decoration: none;
}

/* articles section */

#articles {
    padding: 4rem 1rem;
}

#articles h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
}

#articles h3 {
    color: var(--aqua);
}

#articles h4 {
    font-size: 1rem;
    font-family: var(--mono);
    margin: 0;
}

.blackbox {
    padding: 1rem;
    border-radius: 10px;
    color: white;
    background-color: var(--black);
    font-size: 1rem;
    line-height: 1.5;
}

#articles ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
}

#articles img {
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    border-left: 1px solid var(--aqua);
    border-top: 1px solid var(--aqua);
    border-radius: 25px;
}



/* footer section */

footer {
    text-align: center;
    padding: 4rem 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3rem;
    font-size: 3rem;
}

@media (min-width: 800px) {
    article {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }

    #articles {
        max-width: 1200px;
        margin: 0 auto;
    }

    #articles img {
        grid-column: 1/6;
        grid-row: 1/2;
    }

    .text {
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    }

    #articles ul {
        justify-content: flex-end;
    }

    #articles .reverse .text {
        grid-column: 1/7;
        order: 2;
        text-align: left;
    }

    #articles .reverse img {
        grid-column: 6/11;
        grid-row: 1/2;
    }

    #articles .reverse ul {
        justify-content: flex-start;
    }
}

@media (min-width: 850px) {
    nav {
        max-width: 1200px;
        margin: 0 auto;
    }

    nav li:first-child {
        flex-basis: auto;
        text-align: left;
        margin-right: auto;
    }
}

/* Create section */

#create {
    width: 100%;
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;

}

.create-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
}

.create-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}